# Data
data/train/bed
data/train/bird
data/train/cat
data/train/dog
data/train/eight
data/train/five
data/train/four
data/train/go
data/train/happy
data/train/house
data/train/marvin
data/train/nine
data/train/no
data/train/off
data/train/on
data/train/one
data/train/seven
data/train/sheila
data/train/six
data/train/stop
data/train/three
data/train/tree
data/train/two
data/train/wow
data/train/yes
data/train/zero
